
@{
    ViewBag.Title = "紫微交友平台";
}
<style>
    .wrap{
        background-color:aqua;
        border:5px solid blue;
    }
</style>

    <div class="container" id="chatinit">
        <ul class="pages">
            <li class="login page">
                <div class="container">
                    <h3>What's your nickname?</h3>
                    <input class="control-label" id="userName" type="text" maxlength="14" />
                    <input class="btn btn-success" id="btnChat" value="加入聊天" />
                </div>
            </li>
        </ul>
    </div>
    <div class="wrap" id="chatbar" style="visibility:hidden">
        <textarea id="Chat" rows="20" cols="200"></textarea>
        <br />
        <input id="message" type="text" /><input id="sendMessage" class="btn btn-success" value="送出訊息" />

    </div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>
    var btnChat = document.getElementById("btnChat");    
    btnChat.addEventListener("click", initChat);
    var text;

    function initChat() {
        text = $("#userName").val();
        $("#chatinit").remove();
        $("#chatbar").css("visibility", "visible");
        $("#Chat").val($("#Chat").val() + "歡迎" + text + "加入聊天");
        chatInit();
    }
    $("#sendMessage").click(function () {
        var str = $('#message').val();
        $.ajax({
            type: 'get',
            url: 'http://localhost:5933/Lobby/sendMessage?message= ' + str + '&userNickName=' + text,
            success: function (data) {
                alert(data);
                $("#Chat").val(data);
            }
        });
        $('#message').val("");
        setInterval(chatInit, 2000);
    });
    function chatInit() {
        $.ajax({
            type: 'get',
            url: 'http://localhost:5933/Lobby/chatRoomInit',
            success: function (data) {
                $("#Chat").val(data);
            }
        })
     }

</script>